* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.container {
  width: 1000px;
  margin: 0 auto;
  background-color: #d9fceb;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.boxA {
  width: 1000px;
}

.boxA-img {
  width: 550px;
  float: right;
}

.boxA-text {
  width: 430px;
  float: left;
}

.boxB {
  width: 1000px;
}

.boxB-img {
  width: 550px;
  float: left;
}

.boxB-text {
  width: 430px;
  float: right;
}

.box1 {
  height: 341px;
}

.box2 {
  height: 283px;
}

h2 {}

p {}

.slider-buttom {
  color: Black;
  background-color: White;
  font-size: 16px;
  font-weight: 700;
  box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
  border-radius: 15px;
  width: 150px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  display: inline-block;
}
